* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
/*
.col-md-3 {
  width: 30%;
  height: 90%;
}
.col-md-9 {
  width: 40%;
  height: 90%;
}
*/

html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-image: url("../images/ping.jpg");
    background-color: #FFEFD5;
    color: #000000;
    padding: 120px 30px;

}
#menu {
    padding: 8px;
    height: 100%
    margin-bottom: 500px;
    background-color: #90EE90;
    color: #ffffff;

}
#menu:hover {
    background-color: #0099cc;
}
